body,
body * {
    color: $black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

.is-white {
    color: #fff;
}

.nowrap {
    white-space: nowrap;
}

.wrapper {
    margin: 0 auto;
    max-width: 780px;
    width: 100%;
}

.main-padding {
    box-sizing: border-box;
    padding: 12px 9px;
}

.direction-name {
    color: $black;
    font-size: 1.25rem;
    margin-bottom: 9px;
}
