header {
    background: $brightGreen;
    color: #fff;

    .title-group {
        align-items: flex-end;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 18px;
        .title {
            font-size: 1.5rem;
            margin: 0 9px 9px;
        }
        .date {
            font-weight: lighter;
        }
    }

    .search-container {
        text-align: right;
        position: relative;
        .search {
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            padding: 6px 9px;
        }
    }

    .clear-search {
        color: $black;
        display: none;
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        z-index: 35;
        &.show {
            display: block;
        }
        &:hover {
            cursor: pointer;
        }
    }

    .header-buttons {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        height: 90px;
        margin: 6px 0 4px;
        padding: 9px 0 0;
        justify-content: space-between;

        @media (min-width: 768px) {
            flex-flow: row wrap;
            height: 40px;
            justify-content: flex-end;
        }

        .header-button {
            background: $light-yellow;
            border: 1px solid darken($light-yellow, 30%);
            border-radius: 4px;
            display: inline-block;
            font-size: 1rem;
            flex: 0 0 45%;
            text-align: center;
            width: 100%;

            @media (min-width: 768px) {
                flex: 0 0 240px;
                height: 100%;
                &:first-child {
                    margin-right: 9px;
                }
            }
        }
    }
}
