.wrapper-table {
    max-width: 100%;
    position: relative;

    .table-scroll {
        overflow-x: auto;
        margin-left: 139px;
    }

    .table {
        border-collapse: collapse;
        width: 100%;

        thead {
            tr.first-row,
            tr:nth-child(1) td.fixed {
                background: $matcha;
                color: #fff;
                font-weight: bold;
            }
        }

        tr,
        tr:nth-child(odd) td.fixed {
            background: $light-green;
        }

        td {
            border: 3px solid #fff;
            height: 60px;
            padding: 0 9px;
            text-align: center;
            min-width: 50px;
        }

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        .fixed {
            border-width: 3px 3px 3px 0;
            left: 0;
            margin-top: -1px;
            max-width: 120px;
            padding: 0 9px;
            position: absolute;
            width: 100%;
        }

        tbody {
            tr:nth-child(even),
            tr:nth-child(even) .fixed {
                background: lighten($light-green, 15%);
            }
        }
    }
}
